/*------------------------------------------------------------------------------
  Hero
------------------------------------------------------------------------------*/
.hero {
  position: relative;
  padding: rem(250) 0 rem(150);
  overflow: hidden;
  top: 75px;

  h1 {
    font-size: 50px;
    color: $white;
  }

}


@media screen and (max-width: $medium-breakpoint) {
  .hero {

  }
}

@media screen and (max-width: $small-breakpoint) {
  .hero {
  }
}
