/*----------------------------------------------------------------------------
  Logos Bar
----------------------------------------------------------------------------*/

.logos-bar {
  background-color: #ededed;
  height: 200px;

  &__image {

    img {
      max-height: rem(100);
    }
  }
}



// Media Queries
@media screen and (max-width:$small-breakpoint) {
  .logos-bar {
  }
}

@media screen and (max-width:$medium-breakpoint) {
  .logos-bar {
  }
}
