/*----------------------------------------------------------------------------
  Logos Bar
----------------------------------------------------------------------------*/

.logos-bar {
  background-color: #ededed;
  //height: 200px;

  &__image {
  padding: rem(40) 0;

    img {
      width: auto;
      height: 100px;
      max-height: 100%;
      margin: auto rem(30);
    }
  }
}



// Media Queries
@media screen and (max-width:$small-breakpoint) {
  .logos-bar {
  }
}

@media screen and (max-width:$medium-breakpoint) {
  .logos-bar {
  }
}
