/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/

.footer {
  background: $dark;
  //padding: 40px;
  color: $white;

  &__logo {
    max-width: rem(200);
    padding-bottom: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  .footer-nav {
    ul {
      padding: 0;
      list-style: none;

      li {
        a {
          color: $white;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }

  &--copywright {
    background: $dark;

    a {
      color: $lime;

      &:hover {
        color: $secondary;
      }
    }

    h5 {
      font-size: 16px;
      color: $white;
    }
  }
}
