/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/

.footer {
  background: $dark;
  padding: 40px 0 0 0;
  color: $white;


  &__logo {
    max-width: 90%;
    padding-bottom: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  h3 {
    color: $white;
    font-size: 36px;
    margin-top: 0;
  }

  .no-navigation {
    display: none;
  }

  .footer-nav {
    ul {
      padding: 0;
      list-style: none;

      li {
        a {
          color: $white;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }

  &--copywright {
    background: $dark;

    a {
      color: $lime;

      &:hover {
        color: $secondary;
      }
    }

    h5 {
      font-size: 16px;
      color: $white;
    }
  }
}
