/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/

.footer {
  background: $dark;
  padding: 40px 0 0 0;
  color: $white;


  &__logo {
    max-width: 90%;
    padding-bottom: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    color: $white;
  }

  h3 {
    color: $white;
    font-size: 36px;
    margin-top: 0;
  }

  .no-navigation {
    display: none;
  }

  .footer-nav {
    ul {
      padding: 0;
      list-style: none;

      li {
        a {
          color: $white;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }

  &--contact {
    display: block;
    text-align: left;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      color: $white;

      li {
        color: $white;
      }
    }

    img {
      max-width: rem(25);
      margin-right: rem(10);
    }

    a {
      padding: rem(10) 0;
    }
  }

  .google-map {
    margin: auto;
  }

  &--copywright {
    background: $dark;

    a {
      color: $lime;

      &:hover {
        color: $secondary;
      }
    }

    h5 {
      font-size: 16px;
      color: $white;
    }
  }
}
