/*------------------------------------------------------------------------------
Utility Nav
------------------------------------------------------------------------------*/
.utility-nav {
  padding: rem(15) auto;

  h5 {
    margin: rem(20);
    font-size: 20px;
    text-decoration: underline;
  }

  .button {
    right: 40px;
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .utility-nav {

  }
}

@media screen and (max-width: $small-breakpoint) {
  .utility-nav {
    display: none !important;
  }
}
